/*---- TABLETS MAX-WIDTH 768 ----*/

@media screen and (max-width: 768px) {
    
    summary ul {
        visibility: hidden;
    }
    
    summary button {
        width: 50%;
    }     
}


/*--- MOBILE MAX-WIDTH 480 ----*/

@media screen (max-width: 480px) {
    nav a {
        
    }

    summary ul {
        visibility: hidden;
    }
    
    summary button {
        width: 50%;
    }
}


